version: '3.9'
services:
    object-visualizer-dev:
        build:
            context: ./client-extensions/object-visualizer-custom-element
            target: dev
        container_name: object-visualizer-dev
        ports:
            - '5173:5173'
        environment:
            - TAURI_ENV_PROXY_BASE_URL=http://host.docker.internal:3001
            - TAURI_DEV_HOST=0.0.0.0
            - CHOKIDAR_USEPOLLING=1
            - WATCHPACK_POLLING=true
        volumes:
            - ./client-extensions/object-visualizer-custom-element:/app
            - /app/node_modules
        stdin_open: true
        tty: true

    object-visualizer-prod:
        build:
            context: ./client-extensions/object-visualizer-custom-element
            target: prod
            args:
                - TAURI_ENV_PROXY_BASE_URL=http://host.docker.internal:3001
        container_name: object-visualizer-prod
        ports:
            - '8080:80'
